body{
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    background-color: rgb(20, 40, 84);
    font-family: 'Nanum Brush Script', cursive;
}
.Logo{
    display: inline-block;
    position: absolute;
    top : 15px;
    left: 7px;
}
.Logo > a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-style: italic;
    font-weight: bold;
}
nav{
    background-color: black;
}
div.Menu li{
    list-style: none;
}
div.Menu ul{
    border: 1px solid red;
    width: 100%;
}