div#container{
    width: 100%;
    height: 1100px;
    /* border: 1px solid red; */
    position: relative;
}
header h1{
    display: block;
    text-align: center;
}
section{
    display: flex;
    width: 100%;
    height :auto;
    /* border: 1px solid red; */
    flex-flow: row wrap;
    justify-content: space-around;
    position: relative;
}
section div{
    /* border: 1px solid blue; */
    flex-basis: 33%;
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size : cover;
}
div.img1{
    background-image: url("../HTML/solo/dish1.jpg");
    position: relative;
}
div.img2{
    background-image: url("../HTML/solo/dish2.jpg");
    position: relative;
}
div.img3{
    background-image: url("../HTML/solo/dish3.jpg");
    position: relative;
}
div.img4{
    background-image: url("../HTML/solo/dish4.jpg");
    position: relative;
}
div.img5{
    background-image: url("../HTML/solo/dish5.jpg");
    position: relative;
    flex-basis: 100%;
    flex: 2 2 0;
}
section p{
    color: white;
    font-size: 17px;
    font-weight: bold;
    text-shadow: 0 5px 5px #222;
}
div.img1 p{
    position: absolute;
    bottom: 5px;
    right: 5px;
}
div.img2 p{
    position: absolute;
    bottom: 5px;
    right: 5px;
}
div.img3 p{
    position: absolute;
    bottom: 5px;
    right: 5px;
}
div.img4 p{
    position: absolute;
    bottom: 5px;
    right: 5px;
}
div.img5 p{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

footer{
    border: 1px solid darksalmon;
    bottom: 0%;
    flex-basis: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    color: white;
    font-size: 2em;
}