@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');
*{margin: 0; padding: 0;}
/* 폰트적용 */
.about, .Experience{
    font-family: 'Cormorant SC', serif;
    font-size: 23px;
    font-weight: bold;
}

.Experience ul li{
    font-family: 'Hi Melody', cursive;
    font-size: 23px;
}
.Experience ul li ul li{
    font-family: 'Cormorant SC', serif;
    font-size: 23px;
}
.Skills{
    font-family: 'Cormorant SC', serif;
    font-size: 23px;
}
.spat h1 {
    font-family: 'Cormorant SC', serif;
    font-size: 40px;
}
.spat .img1 p{
    font-family: 'Cormorant SC', serif;
    font-size: 23px;
}
.spat .img2 p{
    font-family: 'Hi Melody', cursive;
    font-size: 23px;
}

.container{
    width: 1000px;
    height: 1000px;
    background-color: rgb(138, 233, 144);
    position: relative;
    margin: 0 auto;
}
section{
    background-color: rgb(160, 225, 225);
    width: 300px;
    height: 1000px;
}
.picTure{
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
.picTure > img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 20px 20px;
}
.information{
    line-height: 40px;
    padding: 10px 10px;
}
.information h1{
    margin-bottom: 30px;
}
.sns a{
    text-decoration: none;
}
.sns img{
    width: 40px;
    height: 40px;
    margin: 5px 5px;
}
.container2{
    width: 700px;
    height: 1000px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.container2 h1{
    margin-bottom: 30px;
}
.container2 p{
    margin-bottom: 30px;
}
.Experience ul{
    margin-left: 40px;
    margin-bottom: 10px;
}
.spat{
    width: 700px;
    height: 500px;
}
.img1 img{
    float: left;
    margin-right: 30px;
}
.img1{
    width: 700px;
    height: 170px;
}
.img2 img{
    float: right;
    margin-left: 30px;
}