*{padding: 0; margin: 0; box-sizing: border-box;}
body{
    background-color: blueviolet;
}
#wrap{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    position: relative;
}
p{
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;

    padding: 15% 0;
}
@media screen and (min-width:1024px){

    #title{
        width: 90%;
        display: block;
        margin: 20px auto;
        /* border: 1px solid blue; */
    }
    div.one{
        width: 32.5%;
        /* border: 1px solid red; */
        display: inline-block;

    }
    div.one img{
        width: 50%;
        height: 175px;
    }

    div.text{
        width: 50%;
        height: 175px;
        float: right;
        display: inline-block;
    
        background-color: white;
    }
}
@media screen and (min-width:320px) and (max-width:767px){

    #title{
        width: 100%;
        display: block;
        margin: 20px auto;
        /* border: 1px solid blue; */
    }
    div.one{
        width: 100%;
        /* border: 1px solid red; */
        display: block;
        margin: 5px auto;

    }
    div.one img{
        width: 100%;
        height: 175px;
    }

    div.text{
        width: 100%;
        height: 175px;
        display: block;
    
        background-color: white;
    }
}
    @media screen and (min-width:768px) and (max-width:1023px){

        #title{
            width: 100%;
            display: block;
            margin: 20px auto;
            /* border: 1px solid blue; */
        }
        div.one{
            width: 100%;
            /* border: 1px solid red; */
            display: block;
            margin: 5px auto;
    
        }
        div.one img{
            width: 50%;
            height: 250px;
            display: inline-block;
        }
    
        div.text{
            width: 50%;
            height: 250px;
            display: block;
            background-color: white;
            display: inline-block;
            float: right;
        }
}